@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.font-sans {
  font-family: var(--font-inter);
  font-feature-settings: "ss03", "cv02", "cv11";
}

